main{
  background-color: white;
}

body {
  padding: 0;
  margin: 0;
}

nav {  
  height: 10vh;
  background-color: khaki;
}

header {  
 border-bottom: 1px solid red;
}
.feature-home-info{
  background-color: hotpink;
  height:  70vh;
}
.feature-home-info h1{
  background-color: #fff;
  padding:  25vh 0 25vh 0;
}

.nav-bar{
  background-color: indianred;
}


section {  
  height: 70vh;
}

.split-content{
  min-height: 40vh;
  width: 100%;
  background-color: lightblue;
  background-image: url(../img/hiking.jpg);
  background-repeat: no-repeat;  
  background-size: cover;
  background-position-y: 70%;
}

.picture-profile{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: lightcoral;
  background-image: url(../img/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome {
  padding-top: 10vh;
}

.info-profile{
  background-color: limegreen;
  height: 100%;
}