main{
  background-color: hotpink;
}

body {
  padding: 0;
  margin: 0;
}

nav {  
  height: 10vh;
  background-color: khaki;
}

header {  
 border-bottom: 1px solid red;
}
.feature-home-info{
  background-color: hotpink;
  height:  70vh;
}
.feature-home-info h1{
  background-color: #fff;
  padding:  25vh 0 25vh 0;
}

.nav-bar{
  background-color: indianred;
}